<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/string_string_tokenizer_user_input/src/com/valid/inputdata.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.valid.inputdata"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="string_string_tokenizer_user_input"/>
</launchConfiguration>
